<nav role="navigation" class="grey darken-4">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><span class="mdi-av-movie"></span> Flicker</a>
    <%#<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>%>
  </div>
</nav>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <div class="row center">
      <a href="" id="download-button" class="btn-large waves-effect waves-light orange darken-3"><i class="mdi-maps-local-movies left"></i>Find your favorite movies</a>
    </div>

  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light blue-text"><i class="mdi-av-movie"></i></h2>
          <h5 class="center">Our movie database</h5>
        </div>
      </div>
      <%#End col%>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light blue-text"><i class="mdi-action-search"></i></h2>
          <h5 class="center">Find your movie</h5>
        </div>
      </div>
      <%#End col%>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light blue-text"><i class="mdi-social-public"></i></h2>
          <h5 class="center">Badass community</h5>
        </div>
      </div>
      <%#End col%>
    </div>
  </div>
</div>

<div class="section blue darken-3" id="search-section">
  <div class="container">
    <div class="row">
      
    </div>
  </div>
</div>

<footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Created by <a class="orange-text text-lighten-3" href="http://github.com/syang019">Stanley Yang</a>
      </div>
    </div>
  </footer>
